* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: 400;
}

label {
    font-size: 32px;
    font-weight: 200;
}

input {
    font-size: 20px;
    font-weight: 200;
}

.send, .clear{
    font-size: 32px;
    font-weight: 400;
}